// frontend/src/assets/styles/main.scss

/* Import variables and mixins if any */
@import 'variables.scss';

/* Global Styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  color: #333333;
}

.ui.segment {
  border-radius: 8px;
}

.ui.header {
  color: #4CAF50;
}

/* Additional global styles */

/* Movies Specific Styles */
.movies-list {
  margin-top: 2rem;
}

.movie-card {
  /* Custom styles for movie cards */
}

.favorite-movies {
  margin-top: 2rem;
}
